a {
    color: #c71585;
    color: rgb(199, 21, 133);
    color: rgba(199, 21, 133, .5);

    color: rgb(155.5, 244.5, 188.5);
    color: rgb(28, 117, 61);
    color: rgb(227, 138, 194);
    color: rgb(99.5, 10.5, 66.5);

    color: rgba(0, 200, 200);
    color: rgba(0, 200, 200, .7);

    color: rgba(0, 140, 140);
}